/* EAST */

/* ATL */
$ATL-1: #e03a3e;
$ATL-2: #26282a;
$ATL-3: #c1d32f;

/* CHA */
$CHA-1: #1d1160;
$CHA-2: #a1a1a4;
$CHA-3: #00788c;

/* ORL */
$ORL-1: #0077c0;
$ORL-2: #c4ced4;
$ORL-3: #000000;

/* MIA */
$MIA-1: #98002e;
$MIA-2: #f9a01b;
$MIA-3: #000000;

/* WAS */
$WAS-1: #002b5c;
$WAS-2: #e31837;
$WAS-3: #c4ced4;

/* NYK */
$nyk-1: #006bb6;
$nyk-2: #f58426;
$nyk-3: #bec0c2;

/* BKN */
$BKN-1: #777d84;
$BKN-2: #ffffff;
$BKN-3: #000000;

/* TOR */
$TOR-1: #ce1141;
$TOR-2: #000000;
$TOR-3: #000000;

/* BOS */
$BOS-1: #007a33;
$BOS-2: #ba9653;
$BOS-3: #000000;

/* PHI */
$PHI-1: #006bb6;
$PHI-2: #ed174c;
$PHI-3: #002b5c;
/* #C4CED4 */

/* CHI */
$CHI-1: #ce1141;
$CHI-2: #ffffff;
$CHI-3: #000000;

/* DET */
$DET-1: #c8102e;
$DET-2: #006bb6;
$DET-3: #bec0c2;
/* #002D62; */

/* MIL */
$MIL-1: #00471b;
$MIL-2: #eee1c6;
$MIL-3: #0077c0;

/* IND */
$IND-1: #002d62;
$IND-2: #fdbb30;
$IND-3: #bec0c2;

/* CLE */
$CLE-1: #6f263d;
$CLE-2: #ffb81c;
$CLE-3: #041e42;

/* WEST */

/* PHX */
$PHX-1: #1d1160;
$PHX-2: #e56020;
$PHX-3: #f9ad1b;
/* 63727A */

/* LAL */
$LAL-1: #552583;
$LAL-2: #fdb927;
$LAL-3: #000000;

/* LAC */
$LAC-1: #c8102e;
$LAC-2: #1d42ba;
$LAC-3: #bec0c2;

/* SAC */
$SAC-1: #5a2d81;
$SAC-2: #63727a;
$SAC-3: #000000;

/* GSW */
$GSW-1: #006bb6;
$GSW-2: #fdb927;
$GSW-3: #26282a;

/* UTH */
$UTH-1: #002b5c;
$UTH-2: #00471b;
$UTH-3: #f9a01b;

/* DEN */
$DEN-1: #0e2240;
$DEN-2: #fec524;
$DEN-3: #8b2131;
/* #1D428A; */

/* OKC */
$OKC-1: #007ac1;
$OKC-2: #ef3b24;
$OKC-3: #fdbb30;
/* #002D62; */

/* POR */
$POR-1: #e03a3e;
$POR-2: #666666;
$POR-3: #000000;

/* MIN */
$MIN-1: #236192;
$MIN-2: #0c2340;
$MIN-3: #78be20;

/* SAS */
$SAS-1: #c4ced4;
$SAS-2: #000000;
$SAS-3: #8a8d8f;

/* DAL */
$DAL-1: #00538c;
$DAL-2: #b8c4ca;
$DAL-3: #002b5e;
/* #00843D; */

/* HOU */
$HOU-1: #ce1141;
$HOU-2: #ffc72c;
$HOU-3: #c4ced4;

/* NOP */
$NOP-1: #0c2340;
$NOP-2: #c8102e;
$NOP-3: #85714d;

/* MEP */
$MEP-1: #5d76a9;
$MEP-2: #12173f;
$MEP-3: #f5b112;
