/* EAST */

/* ATL */
$atl-1: #e03a3e;
$atl-2: #26282a;
$atl-3: #c1d32f;

/* CHA */
$cha-1: #1d1160;
$cha-2: #a1a1a4;
$cha-3: #00788c;

/* ORL */
$orl-1: #0077c0;
$orl-2: #c4ced4;
$orl-3: #000000;

/* MIA */
$mia-1: #98002e;
$mia-2: #f9a01b;
$mia-3: #000000;

/* WAS */
$was-1: #002b5c;
$was-2: #e31837;
$was-3: #c4ced4;

/* NYK */
$nyk-1: #006bb6;
$nyk-2: #f58426;
$nyk-3: #bec0c2;

/* BKN */
$bkn-1: #777d84;
$bkn-2: #ffffff;
$bkn-3: #000000;

/* TOR */
$tor-1: #ce1141;
$tor-2: #1a1a41;
$tor-3: #000000;

/* BOS */
$bos-1: #007a33;
$bos-2: #ba9653;
$bos-3: #000000;

/* PHI */
$phi-1: #006bb6;
$phi-2: #ed174c;
$phi-3: #002b5c;
/* #C4CED4 */

/* CHI */
$chi-1: #ce1141;
$chi-2: #ffffff;
$chi-3: #000000;

/* DET */
$det-1: #c8102e;
$det-2: #006bb6;
$det-3: #bec0c2;
/* #002D62; */

/* MIL */
$mil-1: #00471b;
$mil-2: #eee1c6;
$mil-3: #0077c0;

/* IND */
$ind-1: #002d62;
$ind-2: #fdbb30;
$ind-3: #bec0c2;

/* CLE */
$cle-1: #6f263d;
$cle-2: #ffb81c;
$cle-3: #041e42;

/* WEST */

/* PHX */
$phx-1: #1d1160;
$phx-2: #e56020;
$phx-3: #f9ad1b;
/* 63727A */

/* LAL */
$lal-1: #552583;
$lal-2: #fdb927;
$lal-3: #000000;

/* LAC */
$lac-1: #c8102e;
$lac-2: #1d42ba;
$lac-3: #bec0c2;

/* SAC */
$sac-1: #5a2d81;
$sac-2: #63727a;
$sac-3: #000000;

/* GSW */
$gsw-1: #006bb6;
$gsw-2: #fdb927;
$gsw-3: #26282a;

/* UTH */
$uth-1: #002b5c;
$uth-2: #00471b;
$uth-3: #f9a01b;

/* DEN */
$den-1: #0e2240;
$den-2: #fec524;
$den-3: #8b2131;
/* #1D428A; */

/* OKC */
$okc-1: #007ac1;
$okc-2: #ef3b24;
$okc-3: #fdbb30;
/* #002D62; */

/* POR */
$por-1: #e03a3e;
$por-2: #666666;
$por-3: #000000;

/* MIN */
$min-1: #236192;
$min-2: #0c2340;
$min-3: #78be20;

/* SAS */
$sas-1: #c4ced4;
$sas-2: #000000;
$sas-3: #8a8d8f;

/* DAL */
$dal-1: #00538c;
$dal-2: #b8c4ca;
$dal-3: #002b5e;
/* #00843D; */

/* HOU */
$hou-1: #ce1141;
$hou-2: #ffc72c;
$hou-3: #c4ced4;

/* NOP */
$nop-1: #0c2340;
$nop-2: #c8102e;
$nop-3: #85714d;

/* MEP */
$mep-1: #5d76a9;
$mep-2: #12173f;
$mep-3: #f5b112;
